<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Mike's Burgers</title>




</head>

<body>

    <div class="container">
        <br>

        <div class="row   align-self-start" id="toprow2">

            <div class="col-md-2">


            </div>


            <div class="col-md-8" id="newBurger">
                <div class="card border border-success  align-items-center orderlabel">
                    <h2> Mike's Lunch Site</h2>
                    <h6>MVC node.js,MySql,bootstrap, handlebars demo</h6>

                    <form class="newBurgerForm">
                        <br>
                        <div class="form-group">
                            <label for="hb">Food Item:</label>
                            <input type="text" id="inputBurger" name="name" style="width:400px; height:30px">
                        </div>

                        <button type="submit" id="submitBurger">Add Item</button>

                        <label for="submit" id="labelSubmit">Enter custom food item you want to eat, Click the "Add
                            Item"
                            button.</label>
                    </form>

                </div>


            </div>

            <div class="col-md-2">

            </div>

        </div>

        <br>
        <div class="row   align-self-start" id="toprow1">

            <div class="col-md-6" id="availableBurgers">

                <div class="card border border-success  align-items-center label">
                    <h1>Food Ready to Eat</h1>

                </div>
                <br>


                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}

                    <div class="card border border-success ready" id={{ this.id}}>
                        <div class="card-body">
                            <p><span> ID:</span> {{ this.id}}</p>
                            <p><span> Food Item:</span> {{ this.burger_name}}</p>
                            <p><span> IsDevoured:</span> {{ this.devoured}}</p>

                            <button type="button" class="btn btn-info" data-burger = {{ this.burger_name}} data-devour={{ this.devoured}}  data-myval={{ this.id}}>Devour it</button>

                        </div>

                    </div>

                    <br>
                    {{/unless}}
                    {{/each}}
                </ul>

            </div>

            <div class="col-md-6" id="devouredBurgers">
                {{!--      <img id="Pic" src="assets/images/MikeHeadshot.jpg" height=170px width="170px"> --}}

                <div class="card border border-success  align-items-center label">
                    <h1>Devoured Food</h1>

                </div>
                <br>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}

                    <div class="card border border-success eaten" id={{ this.id}}>
                        <div class="card-body">
                            <p><span> ID:</span> {{ this.id}}</p>
                            <p><span> Food Item:</span> {{ this.burger_name}}</p>
                            <p><span> IsDevoured:</span> {{ this.devoured}}</p>


                        </div>

                    </div>

                    {{/if}}
                    {{/each}}
                </ul>




            </div>

        </div>

        <div class="row   align-self-start" id="toprow3">

            <div class="col-md-2">


            </div>


            <div class="col-md-8" id="newBurger">
                <div class="card border border-success  align-items-center orderlabel">
                    <h5>Reset Devoured Food Items</h5>
                    <form class="resetForm">
                        <button type="reset" id="resetorder">Reset</button>
                        <br>
                    </form>

                </div>

            </div>

            <div class="col-md-2">

            </div>


        </div>

    </div>


</body>


</html>